<div class = "hpTopBar">
  <div class = "hpHeader"></div>
</div>

<div class = "formBody">
  <% provide(:title, 'Sign in') %>
  <h2 class = "formHeader">Sign in as Patron</h2>
  <%= form_for(:session, url: sessions_path) do |f| %>
      <%= render '/shared/session_error_messages' %>
      <%= f.text_field :email, class: "formInput", placeHolder: "email" %>

      <%= f.password_field :password, class: "formInput", placeholder: "password" %>

      <%= f.submit "Sign In", class: "button signUpButton"  %>
  <% end %>
</div>