<%= form_for(@book) do |f| %>
    <div class = "formBody">
      <h1 class = "formHeader">Edit book details</h1>
      <%= render '/shared/error_messages_books' %>
      <%= f.text_field :ISBN, class: "formInput", placeholder: "ISBN" %>
      <%= f.text_field :Title, class: "formInput", placeholder: "Title" %>
      <%= f.text_field :Authors, class: "formInput", placeholder: "Authors" %>
      <%= f.text_field :Description, class: "formInput", placeholder: "Description" %>
      <%= f.submit "Edit book", class: "button signUpButton" %>
    </div>
<% end %>
