<%= form_for(@book) do |f| %>
  <div class = "formBody">
    <h1 class = "formHeader">Add a book</h1>
    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> Prohibited this book from being saved:</h2>

          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.text_field :ISBN, class: "formInput", placeholder: "ISBN" %>
    <%= f.text_field :Title, class: "formInput", placeholder: "Title" %>
    <%= f.text_field :Authors, class: "formInput", placeholder: "Authors" %>
    <%= f.text_field :Description, class: "formInput", placeholder: "Description" %>
    <%= f.text_field :Status, class: "formInput", placeholder: "Status" %>
    <%= f.text_field :Lastuser, class: "formInput", placeholder: "Lastuser" %>
    <%= f.text_field :Datetime, class: "formInput", placeholder: "Datetime" %>
    <%= f.submit "Add a new book", class: "button signUpButton" %>
  </div>
<% end %>
