<div class = "hpTopBar">
  <h1 class = "hpHeader">the librarian</h1>
</div>
<p id="notice"><%= notice %></p>
<div class = "bookList">

    <h1 style = "color:#ab2335;">Here is what you were looking for</h1>

    <table cellpadding="0">
      <thead>
        <tr>
          <th>Isbn</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.ISBN %></td>
            <td><%= book.Title %></td>
            <td><%= book.Authors %></td>
            <td><%= book.Description %></td>
            <td><%= 'available' if book.Status == false %>
            <%= 'not available' if book.Status == true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>