<%= render(:partial => "./shared/topBar") %>
<p id="notice"><%= notice %></p>
<h1 class = "booksHeader">Welcome to our library</h1>
<h2 class = "booksHeader2">What would you like to do?</h2>
<p class = "booksOptions">
    <%= link_to "View complete list of books", '/full', :method => :get, class: "ghost-button2" %>
    <%= link_to "View books currently available for checkout", '/available', :method => :get, class: "ghost-button2" %>
    <%= link_to "Search books by ISBN", '/searchisbn', :method => :get, class: "ghost-button2" %>
    <%= link_to "Search books by Title", '/searchtitle', :method => :get, class: "ghost-button2" %>
    <%= link_to "Search books by Author ", '/searchauthor', :method => :get, class: "ghost-button2" %>
    <%= link_to "Search books by Description ", '/searchdescription', :method => :get, class: "ghost-button2" %>
</p>






















