<%= render(:partial => "./shared/topBar") %>
<p id="notice"><%= notice %></p>

<div class = "bookInfo">
  <div class = "bookDetailHeader">Book Details</div>
    <table class = "bookDetails">
      <tr>
        <td><strong>Book ISBN:</strong></td>
        <td><%= @book.ISBN %></td>
      </tr>
      <tr>
        <td><strong>Book Title:</strong></td>
        <td><%= @book.Title %></td>
      </tr>
      <tr>
        <td><strong>Book Authors:</strong></td>
        <td><%= @book.Authors %></td>
      </tr>
      <tr>
        <td><strong>Book Description:</strong></td>
        <td><%= @book.Description %></td>
      </tr>
      <% if current_user.ty == 0 || current_user.ty == 1 %>
      <tr>
            <td><strong>Current Book holder:</strong></td>
            <% if @book.Lastuser != "null" %>
                <td><%= @book.Lastuser%></td>
            <% end %>
            <% if @book.Lastuser == "null" %>
                <td><% 'None' %></td>
            <% end %>
          </tr>
      <% end %>
      <tr>
        <td><strong>Book Status:</strong></td>
        <td><%= 'Available' if @book.Status==false %>
          <%= 'Not Available' if @book.Status==true %>
          <div class = "checkoutButton">
            <%=link_to (@book.Status ? "Cant Checkout" : "Checkout"), checkout_book_path(@book) if (@book.Status==false)%>
            <%=link_to (@book.Status ? "Return" : " Can't Return"), returnit_book_path(@book) if (@book.Lastuser == current_user.email)%>
            <%=link_to (@book.Status ? "Notify" : ""), notify_book_path(@book) if (@book.Lastuser != current_user.email)%>
          </div>
	  
        </td>
      </tr>
    </table>
    <hr>
      <% if ((current_user.ty == 0 || current_user.ty == 1) && (@book.Status==false)) %>
          <div class = "bookDetailHeader2">Checkout a book on behalf of another user</div>
          <%= form_tag checkoutad_book_path(@book), method: "get" do %>
              <%= text_field_tag :email, params[:email], class: "formInput", placeholder: "Enter user email ID:" %>
              <%= submit_tag "Checkout", :name => nil, class: "searchButton seaGreenButton" %>
          <% end %>
      <% end %>

      <% if ((current_user.ty == 0 || current_user.ty == 1) && (@book.Status==true)) %>
          <div class = "bookDetailHeader2">Return a book on behalf of another user</div>
          <div class = "adminReturn"><div class = "checkoutButton"><%=link_to (@book.Status ? "Return on behalf of user" : " Can't Return"), returnit_book_path(@book) %></div></div>
      <% end %>
</div>






