<%= render(:partial => "./shared/topBar") %>

<%= form_for(@user) do |f| %>
    <div class = "formBody noBackground">
      <h1 class = "formHeader">Edit profile</h1>
      <%= render '/shared/error_messages' %>
      <%= f.text_field :name, class: "formInput", placeholder: "Name" %>
      <%= f.password_field :password, class: "formInput", placeholder: "password" %>
      <%= f.password_field :password_confirmation, class: "formInput", placeholder: "confirm password" %>
      <%= f.submit "Save", class: "button signUpButton blueButton" %>
    </div>
<% end %>
