<%= render(:partial => "./shared/topBar") %>

<% flash.each do |key, value| %>
    <div class="flash alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class = "hpBody">
  <%= yield %>
  <h2 class = "userName">Welcome <%= @user.name %></h2>
  <%= link_to "Check out books", '/books', :method => :get, class:  "ghost-button"%>
  <% if current_user.ty == 0 || current_user.ty == 1 %>
      <%= link_to "Check users", '/users_all', :method => :get, class:  "ghost-button"%>
      <%= link_to "Make admins", '/make_admin', :method => :get, class:  "ghost-button"%>
      <%= link_to "Remove admins", '/remove_admin', :method => :get, class:  "ghost-button"%>
  <% end %>
</div>


