<div class = "hpTopBar">
  <!--<h1 class = "hpHeader">the librarian</h1>-->
  <div class = "hpHeader"></div>
  <a href = "/signin" class = "button loginButton">Sign In</a>
</div>
<p id="notice"><%= notice %></p>
<div class = "formBody">
  <% provide(:title, 'Sign up') %>
  <h1 class = "formHeader">Sign up</h1>
  <%= form_for(@user) do |f| %>
      <%= render '/shared/error_messages' %>
      <%= f.text_field :name, class: "formInput", placeholder: "userName" %>

      <%= f.email_field :email, class: "formInput", placeholder: "your@email.com" %>

      <%= f.password_field :password, class: "formInput", placeholder: "password" %>

      <%= f.password_field :password_confirmation, class: "formInput", placeholder: "confirm password" %>

      <%= f.submit "Edit Profile", class: "button signUpButton" %>
  <% end %>
</div>